.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.uploadButton{
  transition: 0.5s;
}
div .iron-image{
  position: relative;
  height: 10rem;
  width: auto;

}
div .iron-image img{
  width: auto;
  height: 10rem;
}
div.iron-image__container {
  height: 10rem;
  width: auto;
  margin: 0.2rem;

}
.imagesList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}